.registration-page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jumbotron {
	padding: 2rem 1rem;
	padding: 0px 30px;
	margin-bottom: 2rem;
	background-color: #fff;
	border-radius: 0.3rem;
}

.form-box {
	box-shadow: 0 0 15px -5px black;
}
