.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #fff;
	border-radius: 0.3rem;
}

.add-new-ticket {
	background: white;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 15px -5px black;
	max-width: 550px;
}
