.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #fff;
	border-radius: 0.3rem;
}

.default-layout {
	display: grid;
	grid-template-rows: 80px auto 3rem;
	grid-template-areas: "header" "main" "footer";
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	min-height: 88vh;
}

footer {
	background: #000;
	color: #fff;
	padding: 0.8rem;
	grid-area: footer;
}

a {
	text-decoration: none;
}
